.title {
    font-family: "Merriweather", serif;
}

.heading {
    border: 3px solid teal;
}

.progress-div {
    height: 100%;
    border: 3px solid violet;
    overflow-y: scroll;
}

.anime-list {
    list-style-type: none;
}