.main-div {
    height: 95vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid black;
}

.settings-div{
    display: flex;
    border: 3px solid red;
}

.left {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.right {
    margin-right: auto;
}

.title {
    font-family: "Merriweather", serif;
}

.anime-progress-div {
    width: 25%;
    height: 100%;
    border: 3px solid blue;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.calendar-div {
    width: 75%;
    height: 100%;
    border: 3px solid green;
}