.progress-div {
    height: 100%;
    overflow-y: hidden;
    background-color: var(--primary-darker);
    display: flex;
    flex-direction: column;
}

#anime-list-div-watching {
    height: 100%;
    overflow-y: auto;
    transition: height 0.5s ease, opacity 0.5s ease-in-out;
}

#anime-list-div-plan-to-watch {
    height: 100%;
    overflow-y: auto;
    transition: height 0.5s ease, opacity 0.5s ease-in-out;
    border-bottom: none;
}

.checkbox-selected-transition {
    opacity: 0;
}

.anime-list {
    list-style-type: none;
}

.anime {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.anime-top-div {
    padding: 20px;
}

.anime-bot-div {
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.anime-bot-div > div {
    width: 45%;
}

.weekly-anime-img {
    height: auto;
    width: 85%;
    border: 1px solid #666666;
    
    -webkit-user-drag: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.anime-div-bar {
    margin-inline: auto;
    width: 65%;
    border: 1px solid var(--primary);
    border-radius: 100%;
}

.search-weekly-anime {
    width: 95%;
    height: auto;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
}

.weekly-anime {
    list-style: none;
}

.search-anime-div {
    width: 100%;
}

.message-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: break-word;
}

.loading-spinner {
    height: auto;
    width: 75px;
    animation: spin 0.8s linear infinite;
    fill: var(--text);
}

.update-div {
    display: none;
}

.update-spinner {
    height: auto;
    width: 10%;
    animation: spin 0.8s linear infinite;
    fill: var(--text);
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.message-text {
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    width: 70%;
}

#search-value {
    font-family: 'Lato', sans-serif;
}

.refresh-button {
    border: none;
    padding: 2%;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--text);
    transition: transform ease 0.5s;
}

.refresh-button:hover {
    transform: translate(0, -3px);
}

.heading {
    width: 100%;
    border-bottom: 1px solid var(--primary);
}

.heading-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown-btn {
    all: unset;
    cursor: pointer;
    height: 2rem;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--text);
    outline: none;
    background-color: var(--background-div);

    display: flex;
    justify-content: center;
    align-items: center; 
}

.user-profile-pic {
    max-width: 100%;
    height: calc(100% - 5px);
    margin-right: 5px;
}

.dropdown-btn:hover {
    background-color: rgb(121, 121, 121)
}

.settings-dropdown {
    padding: 1px;
    margin: 1px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    overflow: hidden;
}

#settings-options-div {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-div-icon {
    margin-left: 5px;
    height: 1rem;
    fill: var(--text);
}

.weekly-title {
    font-family: "Montserrat", sans-serif;
    font-size: 2.75rem;
    word-wrap: break-word;
    text-align: left;
    color: var(--primary-light);
    padding-left: 5%;
}

.anime-list-title {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

.release-note {
    padding: 2%;
}

.progress-section-div {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding: 3%;
    background-color: black;
    align-content: center;
    z-index: 10;
    border-bottom: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watching-div {
    top: 0;
}

.plan-to-watch-div {
    bottom: 0;
}

.progress-section-div-hover-effects:hover {
    cursor: pointer;
}

.progress-section-div-hover-effects:hover .progress-section-heading {
    text-decoration: underline;
}

.progress-section-heading {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

#plan-to-watch-animes-div {
    border-top: 1px solid var(--primary);
    border-bottom: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    color: var(--text-gray);
}

.checkbox-container label {
    display: flex;
    cursor: pointer;
}

.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: "";
    width: 1em;
    height: 1em;
    border: .05em solid white;
    border-radius: .15em;
    margin-right: .3em;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
    background-color: var(--primary-small-hover);
}

.checkbox-container input[type='checkbox']:hover + label {
    color: var(--text);
}

.checkbox-container input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 3px var(--text);
}

.checkbox-container input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-bold {
    color: var(--text);
    font-weight: bold;
}

.white-bold-big {
    color: var(--text);
    font-weight: bold;
    font-size: 1.5rem;
}

.plan-to-watch-anime-info-div {
    display: flex;
    flex-direction: column;
}

.add-to-watching-button {
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
}

.ptw-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}