#feedback-page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--black-70);
    top: 0;
}

#feedback-page > div {
    clip-path: polygon(100% 0, 100% 96%, 91% 100%, 0 100%, 0 7%, 3% 7%, 3% 4%, 0 4%, 0 0);
    background-color: var(--progress-div-colour);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.feedback-content {
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feedback-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
}

.feedback-content-header > h1 {
    font-family: "Furore", sans-serif;
    font-weight: 600;
    color: var(--primary-100);
}

.feedback-content-close-button:hover{
    cursor: pointer;
    color: var(--primary-75);
}

.feedback-content-text {
    min-width: 300px;
}

.options-page-text {
    font-family: "Montserrat", sans-serif;
}

.options-page-title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.social-media-links {
    text-decoration: none;
    color: var(--primary);
}

.social-media-links:hover {
    cursor: pointer;
    color: var(--primary);
    text-decoration: underline;
}

.social-media-links:visited {
    color: var(--primary);
}

#feedback-discord-message {
    position: absolute;
    bottom: 50px;
    background-color: var(--black);
    padding: 5%;
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
} 

#feedback-discord-message.show {
    opacity: 1;
}

.social-media-icons {
    height: 1rem;
    fill: var(--white);
}