:root {
    --text: #E9E9EC;
    --background: #121212;
    --background-div: #191919;
    --primary: #1E90FF;
    --primary-dark: #125eaa;
    --primary-darker: #1e8fff3b;
    --secondary: #6835e0;
    --accent: #E1E12C;
    --accent-light: #ebdd9d7c;
    --no-button: gray;
    --scroll-track: #6b6b6b;
    --scroll-track-hover: rgba(163, 163, 163, 0.459);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
}

p,h1 {
    color: var(--text);
}

::-webkit-scrollbar-track {
    background: #2b2b2b; /* Background of the scrollbar track */
}
  
::-webkit-scrollbar-thumb {
    background-color: #1e1e1e; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
    border: 3px solid #2b2b2b; /* Padding around the scrollbar thumb */
}

/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
    background: var(--no-button);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-track-hover);
}

::-webkit-scrollbar-corner {
    background: var(--scroll-track);
} */