:root {
    --text: #E9E9EC;
    --background: #121212;
    --background-div: #191919;
    --primary: #1E90FF;
    --primary-small-hover: #1e8fffcb;
    --primary-dark: #125eaa;
    --primary-darker: #1e8fff3b;
    --secondary: #6835e0;
    --accent: #E1E12C;
    --accent-light: #ebdd9d7c;
    --no-button: #808080;
    --no-button-small-hover: rgba(128, 128, 128, 0.733);
    --scroll-track: #6b6b6b;
    --scroll-track-hover: rgba(163, 163, 163, 0.459);
    --primary-light: rgb(69, 218, 255);
    --text-light-gray: rgb(194, 194, 194);
    --text-gray: rgb(168, 168, 168);
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
}

p,h1 {
    color: var(--text);
}

img {
    color: var(--text);
}

::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100vw;
    border: 0.2em solid #333333;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 1800px) {
    .release-note {
        font-size: 0.9rem;
    }

    .weekly-title {
        font-size: 2rem;
    }

    .search-weekly-anime {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1500px) {
    .weekly-title {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 1440px) {
    .weekly-title {
        font-size: 2rem;
    }

    .anime-list-title {
        font-size: 1.5rem;
    }

    .progress-bar-text {
        font-size: 1.5rem;
    }

    .episode-status {
        font-size: 1rem;
    }

    .search-weekly-anime {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .button-choice-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .negative-button:hover {
        background-color: var(--no-button-small-hover);
        transform: translate(0, 0);
    }
    
    .positive-button:hover {
        background-color: var(--primary-small-hover);
        transform: translate(0, 0);
    }

    .search-weekly-anime {
        font-size: 0.8rem;
    }
}