.announcement-text {
    margin: 1%;
    color: var(--text);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.announcement-mini-title {
    margin: 1%;
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.announcement-minier-title {
    margin: 1%;
    color: var(--primary-light);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}