.localstorage-popup {
    background-color: var(--black-70);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.localstorage-popup-shape {
    width: 100vw;
    height: 75%;
    min-height: 350px;
    max-height: 350px;
    max-width: 800px;
    min-width: 320px;
    display: flex;
    position: relative;
}

.popup-svg-shape {
    height: 100%;
    width: 100%;
}

.popup-contain-text {
    position: absolute;
    max-width: 800px;
    /* height: 100%;
    width: 100%; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content-title {
    font-family: "Furore", Arial, sans-serif;
    color: var(--primary-200);
    font-size: 1.5rem;
}

.popup-content-text {
    font-family: "Montserrat", sans-serif;
    /* height: 70%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
}

.popup-content-buttons {
    /* height: 100%; */
    display: flex;
    align-items: flex-end;
    gap: 20px;
    justify-content: center;
}

.popup-content-buttons > button {
    background-color: var(--primary-200);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--white);
    font-size: 16px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.popup-content-buttons > button:hover {
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .localstorage-popup {
        justify-content: flex-start;
    }
}

@media screen and (max-height: 400px) {
    .localstorage-popup {
        align-items: flex-start;
    }
}

@media screen and (min-width: 400px) {
    .popup-svg-shape {
        height: 70%;
    }
}

@media screen and (min-width: 800px) {
    .localstorage-popup-shape {
        height: 180px;
        min-height: 180px;
        max-height: 180px;
    }

    .popup-svg-shape {
        height: 100%;
    }
}