.calendar-main {
    background-color: var(--background-div);
    height: 90%;
    width: 100%;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.calendar-main > div {
    width: 85%;
    height: 85%;
}

.days-of-week {
    list-style: none;
    display: flex;
    text-align: center;
}

.days-of-week li {
    width: calc(100%/7);
    width: calc(100%/6);
}

.day-title {
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.75rem, 2.5vw, 2rem);
}

.days-div {
    width: 100%;
}

.dates-div {
    height: 100%;
}

.dates-div ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}

.dates-list li {
    color: var(--text);
    width: calc(100%/7);
    height: calc(100%/6);
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    align-content: center;
    position: relative;
    z-index: 2;
}

.dates-list {
    position: relative;
}

.today::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: clamp(1.5rem, 3.5vw, 4rem);
    width: clamp(1.5rem, 3.5vw, 4rem);
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px var(--primary);
}

.inactive-date > div > p {
    color: rgb(59, 59, 59);
}

.dates-list > li > div {
    width: 100%;
    height: 100%;
    align-content: center;
}

.dates-list > li > div > p {
    height: 100%;
    width: 100%;
    align-content: center;
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
}

.days-div ul, .dates-div ul {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dates-list li div::before {
    content: "";
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out;
}

.dates-list li div:hover {
    cursor: pointer;
}

.dates-list li div:hover::before {
    background-color: var(--primary);
    z-index: -1;
}

.month-heading:hover {
    cursor: pointer;
    text-decoration: underline;
}

.next-month-image, .prev-month-image {
    height: 1.5rem;
    fill: var(--primary);
    align-content: center;
}

.month-heading {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.month-display-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#change-month-div {
    position: absolute;
    background-color: var(--background);
    border: 1px solid var(--primary);
    top: 100%;
    z-index: 4;
    height: fit-content;
    width: fit-content;
    padding: 2%;
    border-radius: 10px;
}

#change-month-div > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#change-month-div > ul > li {
    color: var(--text);
    flex: 0 0 33.33%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

@media (max-width: 1100px) {
    #change-month-div > ul > li {
        color: var(--text);
        flex: 0 0 50%;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

@media (max-width: 600px) {
    #change-month-div > ul > li {
        color: var(--text);
        flex: 0 0 100%;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

#change-month-div > ul > li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.month-div {
    display: flex;
}

.month-div > div {
    flex: 0 0 33.33%;
}

.month-buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 100%;
}

.month-buttons-div > button {
    height: fit-content;
    width: fit-content;
    padding: 2%;
    font-size: 1rem;
    color: var(--primary);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid var(--background);
}

.month-selection-heading {
    font-size: clamp(0.8rem, 1.2vw, 1.25rem);
}