.calendar-main {
    background-color: var(--background-div);
    height: 90%;
    width: 100%;
    border: 2px solid var(--primary);
    align-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}