.calendar-main {
    background-color: var(--background-div);
    height: 90%;
    width: 100%;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.prev-month-button-div {
    display: flex;
    justify-content: flex-end;
}

.calendar-main > div {
    width: 85%;
    height: 85%;
}

.days-of-week {
    list-style: none;
    display: flex;
    text-align: center;
}

.days-of-week li {
    width: calc(100%/7);
    width: calc(100%/6);
}

.day-title {
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
}

.days-div {
    width: 100%;
}

.dates-div {
    height: 100%;
}

.dates-div ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}

.dates-list li {
    color: var(--text);
    width: calc(100%/7);
    height: calc(100%/6);
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    align-content: center;
    position: relative;
    z-index: 2;
}

.dates-list {
    position: relative;
}

.today::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px var(--primary);
}

.inactive-date > div > p {
    color: rgb(59, 59, 59);
}

.dates-list > li > div {
    width: 100%;
    height: 100%;
    align-content: center;
}

.dates-list > li > div > p {
    height: 100%;
    width: 100%;
    align-content: center;
}

.days-div ul, .dates-div ul {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dates-list li div::before {
    content: "";
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease-in-out;
}

.dates-list li div:hover {
    cursor: pointer;
}

.dates-list li div:hover::before {
    background-color: var(--primary);
    z-index: -1;
}