.prev-month-button, .next-month-button {
    width: 3rem;
    height: 3rem;
}

.next-month-image, .prev-month-image {
    height: 2rem;
    fill: var(--primary);
    align-content: center;
}

.month-heading {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: 2rem;
}

.month-display-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}