.calendar-container {
    background: var(--white);
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
}

.calendar-container > div {
    height: 100%;
    width: 100%;
    min-width: 20rem;
    min-height: 31.25rem;
    max-height: 64rem;
}

.calendar-svg-mobile {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.calendar-svg-pc {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: 87.5rem;
    max-height: 67.5rem;
}

@media screen and (min-width: 64rem) {
    .calendar-svg-pc {
        display: block;
    }

    .calendar-svg-mobile {
        display: none;
    }

    .calendar-container {
        padding: 10px;
    }
}

@media screen and (min-width: 87.5rem) {
    .calendar-container {
        background: var(--white);
        height: 100vh;
        max-width: 87.5rem;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .calendar-container > div {
        max-height: 67.5rem;
        max-width: 87.5rem;
        flex-grow: 1;
    }
}

/* Add scroll bar when screen height less than 500px */
@media screen and (max-height: 31.25rem) {
    .calendar-container {
        overflow-y: auto;
        align-items: normal;
    }
}